.values-section { 
    margin: 0 200px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 95px;
    margin: 0;
    text-align: center;
}

#description { 
    text-align: center;
    max-width: 40%;
    margin: 0 0 60px;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 100px;
}

.values-container {
    display: flex;
    gap: 60px;
}

.value-container {
    text-align: center;
    max-width: 280px; 
    padding: 40px;
}
.value-container p {
 font-weight: 300;
 font-size: 18px;
}

@media (max-width : 1440px) {
    #description {
        transition: 300ms;
        max-width: 60%;
        padding: 10px 80px;
    }
}
@media screen and (max-width : 768px) {

   .values-section {
        margin: 60px 0;
    }
    #title {
        font-size: 60px;
        font-weight: 500;
    }

    #description {
        padding: 10px 80px;
        font-size: 20px;
        max-width: 70%;
    }

    .values-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 40px;
    }
    .values-container img {
        width: 30%;
    }
    .value-container {
        padding: 0;
    }
    .value-container h2 {
        margin: 10px;
        font-size: 24px;
    }
    .value-container p {
        text-align: center;
        font-size: 16px;
    }
}



@media screen and (max-width : 425px) {
    .values-section {
        margin: 0;
    }
    #title {
        font-size: 40px;
        font-weight: 500;
    }

    #description {
        padding: 10px 50px;
        font-size: 16px;
        max-width: 100%;
    }
    .values-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .values-container img {
        width: 25%;
    }
    .value-container {
        padding: 10px 30px;
    }
    .value-container h2 {
        font-size: 24px;
    }
    .value-container p {
        font-size: 14px;
    }
}